@import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli|Reem+Kufi&display=swap');


body {
}

.cid-rArHNGGDR4 {
    padding-top: 90px;
    padding-bottom: 45px;
    background-color: #f1eeea;
}

    .cid-rArHNGGDR4 .text-wrap {
        background-color: #656b50;
        padding: 3rem 6rem;
    }

    .cid-rArHNGGDR4 .img1 {
        position: absolute;
        opacity: 0.5;
        left: 0;
        top: 0;
        width: 75%;
        height: 80%;
        object-fit: cover;
    }

    .cid-rArHNGGDR4 .link {
        position: relative;
        width: fit-content;
        display: inline-block;
        padding-right: 2rem;
        cursor: pointer;
    }

        .cid-rArHNGGDR4 .link:before {
            content: "\e966";
            font-family: MobiriseIcons !important;
            position: absolute;
            right: 0rem;
            transition: all 0.3s;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1rem;
            color: currentColor;
        }

        .cid-rArHNGGDR4 .link:hover:before {
            margin-right: -0.4rem;
        }

    .cid-rArHNGGDR4 .mbr-text,
    .cid-rArHNGGDR4 .link-wrap {
        text-align: center;
    }

    .cid-rArHNGGDR4 H4 {
        color: #b69b74;
    }

@media (max-width: 992px) {
    .cid-rArHNGGDR4 .img1 {
        width: 50%;
    }

    .cid-rArHNGGDR4 .text-wrap {
        background-color: #656b50;
        padding: 2rem 2rem;
    }
}

.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}
.align-right {
    text-align: right;
}
.mbr-bold {
    font-weight: 700;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}

.display-1 {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 5.2rem;
}
    .display-1 > .mbr-iconfont {
        font-size: 8.32rem;
    }
.cid-rAroxtsyKC .text-wrap {
    padding: 0 1rem;
}

.cid-rArHNGGDR4 .mbr-text, .cid-rArHNGGDR4 .link-wrap {
    text-align: center;
}
.mbr-text {
    font-style: normal;
    line-height: 1.6;
}
.mbr-white {
    color: #ffffff;
}
.align-center {
    text-align: center;
}
.display-7 {
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
}
.mbr-black {
    color: #343434;
}

/*GRID VIEW*/
.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .mGrid .alt {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }