@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.formulario{
    border: 1px solid;
    border-color:grey;
}

.tamañoScroll {
    font-size: 25px;
}
.ttamaño {
    font-size:13px;
}

.tamañoTexto {
    font-size: 17px;
}
.tamañoContenido {
    font-size: 15px;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

.row {
    justify-content:center
}

.colum {
    left: 723px; 
    top: 11px; 
    width: 528px; 
    height: 308px
}
.ingreso {
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

    #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
    }

        #login .container #login-row #login-column #login-box #login-form #register-link {
            margin-top: -85px;
        }

/* Botones */
.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button {
    position: relative;
    padding: 5px 20px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
}

.green {
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}
.yellow {
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}
.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}