body {
    font-size: 100px;
    padding-top: 56px;
    margin: 0;
    padding: 0;
    background-color: azure;
    height: 100vh;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.font {
    font-size: 16px;
}

.color{
    color:aliceblue;

 }


.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.cuadrado {
    width: 100px;
    height: 100px;
    background-color:blueviolet;
}
