body {

}


.foto{
    width: 150px;
    height: 80px;

}

.txt {
    background: #2ecc71;
}
.paralelogramo {
    margin: auto;
    width: 800px;
    height: 120px;
    background: #2ECC71;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.centrar {

    text-align:center;
    justify-content:center;

}